@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    @apply max-w-[90rem] p-6 w-full mx-auto;
}

@layer components{

    .burger__menu{
        @apply absolute translate-x-[24rem] translate-y-[-3rem] lg:hidden;
    }
    .burger__menu span{
        @apply bg-dvred block rounded-full transition-all;
    }
    .burger__menu span:first-child{
        @apply w-[2.7rem] h-[.5rem] mb-[.5rem];
    }
    .burger__menu span:nth-child(2) {
        @apply w-[2.7rem] h-[.5rem] mb-[.5rem];
    }
    .burger__menu span:nth-child(3) {
        @apply w-[2.7rem] h-[.5rem] mb-[.5rem];
    }
    .burger__menu.open span:first-child{
        @apply transform translate-y-[10px] rotate-[-225deg] transition-all ease-in-out;
    }
    .burger__menu.open span:nth-child(2){
        @apply opacity-0 transition-all;
    }
    .burger__menu.open span:last-child{
        @apply transform translate-y-[-20px] rotate-[225deg] transition-all ease-in-out;
    }
    /* Header */
    .header__action{
        @apply bg-light bg-cover absolute top-[6.2rem] left-0 w-0 h-[90vh] px-0 pt-0 transition-all overflow-hidden
        flex flex-col items-center z-50 lg:w-fit lg:hidden;
    }
    .header__action.open{
        @apply w-[100%] transition-all lg:hidden;
    }
    .header__action .header__navm{
        @apply text-dvred text-[1rem] text-center flex flex-col lg:hidden;
    }
    .header__navm li{
        @apply py-5 px-52 hover:bg-dvred hover:text-light; 
    }
    .header__navm li:nth-child(1){
        @apply border-t border-b; 
    }
    .header__navm li:nth-child(2){
        @apply border-b-0; 
    }
    .header__navm li:nth-child(3){
        @apply border-b; 
    }
    .header__navm li:nth-child(4){
        @apply border-b; 
    }
    .header__navm li:nth-child(5){
        @apply border-b; 
    }
    .header__navm li:nth-child(6){
        @apply border-b; 
    }
    .header__navm li:nth-child(7){
        @apply border-b; 
    }
    .branding{
        @apply flex justify-between;
    }
    .header__navd{
        @apply hidden lg:flex lg:justify-around lg:gap-4 text-dvred text-[1.2rem] uppercase items-center;
    }
    .header__navd li a{
        @apply hover:border-b-8 hover:border-dvred transition px-4 pb-8;
    }
    .services__hover li{
        @apply hover:bg-bpink;
       }
    .header__navm .services__menu{
        @apply hidden;
    }
    .services__hover:hover .services__menu{
        @apply grid grid-cols-1 bg-dvred text-light;
    }
    .services__menu li{
        @apply border-none;
    }

    /* Banner */
    .banner{
        @apply bg-light text-dark pt-8 lg:pt-20 lg:pl-[24rem];
    }
    .banner__wrapper{
        @apply flex flex-col lg:flex lg:flex-row;
    }
    .banner__left h2{
        @apply text-3xl pb-4 lg:max-w-[30rem];
    }
    .banner__left p{
        @apply text-[1.1rem] pb-6 lg:max-w-[35rem];
    }
    .banner__left a{
        @apply text-lg;
    }
    .banner__left span{
        @apply font-bold;
    }
    .banner__right img{
        @apply items-center;
    }
    /* WHO WE ARE */
    .who{
        @apply bg-white text-dark pt-14;
    }
    .who__wrapper{
        @apply text-center;
    }
    .who__title{
        @apply mb-6;
    }
    .who__title h2{
        @apply font-bold text-[2.1rem] pb-1;
    }
    .who__wrapper p{
        @apply mb-6 text-lg max-w-[55rem] mx-auto;
    }
    .who__title span{
        @apply text-[2.1rem];
    }
    /* WHAT WE OFFER */
    .services{
        @apply bg-servicesBanner bg-cover bg-no-repeat lg:h-[800px];
    }
    .services__lists{
        @apply grid grid-cols-1 lg:grid lg:grid-cols-4;
    }
    .services__title{
        @apply lg:pt-12;
    }
    .services__title h2{
        @apply text-light text-[2.1rem] text-center py-14;
    }
    .services__title span{
        @apply font-bold;
    }
    .services__list div{
        @apply text-light text-[1rem] py-12;
    }
    .services__list img{
        @apply w-[2.9rem] mx-auto;
    }
    .services__list ul{
        @apply text-center text-light text-[1.5rem];
    }
    .services__list:first-child{
        @apply pt-2;
    }
    .services__list:nth-child(3) ul img{
        @apply w-[2.4rem]
    }
    .services__list:nth-child(4) ul img{
        @apply w-[4rem]
    }
    /* SLIDER */
    .slider{
        @apply bg-light pt-14;
    }
    .sliderAll{
        @apply relative;
    }
    .sliders{
        @apply grid grid-cols-1 lg:flex lg:flex-row lg:gap-28 lg:pl-[30rem];
    }
    .slider h2{
        @apply text-center text-dark text-3xl mb-16;
    }
    .slider span{
        @apply font-bold;
    }
    .slider__left:nth-child(1) img{
        @apply rounded-full w-[20rem] mx-auto;
    }
    .slider__left ul{
        @apply text-center;
    }
    .slider__left ul h3{
        @apply text-dark text-[1.5rem] font-semibold pb-1;
    }
    .slider__left ul p{
        @apply text-dark text-[1.1rem] font-light pb-4;
    }
    .slider__left ul h4{
        @apply text-dark text-[1rem] font-semibold; 
    }
    .slider__right i{
        @apply text-lgrey text-[8rem] translate-y-[1rem];
    }
    .slider__right div{
        @apply translate-x-[20rem] translate-y-[-2rem] lg:translate-x-[23rem];
    }
    .slider__right p{
        @apply text-dark text-[1rem] text-center max-w-[20rem] mx-auto font-bold lg:max-w-[30rem];
    }
    a:nth-child(3) .slider__right p{
        @apply text-[1.3rem] lg:max-w-[25rem] lg:pl-20;
    }
    a:nth-child(4) .slider__right p{
        @apply text-[1.3rem];
    }
    a:nth-child(5) .slider__right p{
        @apply text-[1.3rem] max-w-[20rem] lg:max-w-[30rem] lg:pl-14;
    }
    a:nth-child(6) .slider__right p{
        @apply text-[1.3rem];
    }
    a:nth-child(7) .slider__right p{
        @apply text-[1.3rem] lg:max-w-[28rem] lg:pl-12;
    }
    a:nth-child(8) .slider__right p{
        @apply text-[1.3rem] lg:max-w-[26rem] lg:pl-10;
    }
    /* EVENTS AND SERVICES */
    .events{
        @apply pt-14 px-3 text-center;
    }
    .events h2{
        @apply text-center text-dark font-bold text-3xl mb-16;
    }
    .events span{
        @apply font-normal;
    }
    .events__cards{
        @apply flex flex-col lg:flex lg:flex-row lg:gap-6;
    }
    .event__card{
        @apply shadow-xl text-center text-dark mb-10;
    }
    .event__card h3{
        @apply py-6 font-semibold text-[1.5rem];
    }
    .event__card:nth-child(3) p{
        @apply max-w-[18rem];
    }
    .event__card:nth-child(3) h3{
        @apply lg:max-w-[18rem] lg:mx-auto;
    }
    .event__card p{
        @apply max-w-[20rem] mx-auto text-[1.1rem];
    }
    .event__card img{
        @apply w-[26rem] mx-auto lg:w-[29rem];
    }
    .event__card div{
        @apply py-8;
    }
    .events .button{
        @apply py-14;
    }
    /* FOOTER */
    .footer{
        @apply bg-dvred text-light pt-6;
    }
    .footer h4{
        @apply font-semibold mb-6 text-[1rem];
    }
    .footer__wrapper{
        @apply flex flex-col gap-10 lg:flex lg:flex-row lg:gap-4 lg:justify-center;
    }
    .footer__content{
        @apply text-center;
    }
    .footer__content p{
        @apply text-[.8rem] font-thin mb-4;
    }
    .footer__social{
        @apply flex gap-6 justify-center text-[1.5rem];
    }
    .footer__content img{
        @apply mx-auto;
    }
    .footer__content{
        @apply lg:border-r lg:pr-28;
    }
    .footer__services{
        @apply text-[.9rem] font-light text-center lg:border-r lg:pl-28 lg:pr-28;
    }
    .footer__contact{
        @apply text-[.9rem] font-light text-center lg:text-left;
    }
    .footer__contact i{
        @apply pr-2;
    }

    /* ABOUT US BANNER */
    .aboutBanner{
        @apply bg-light  text-dark pt-8 pl-4;
    }
    .aboutBanner__wrapper{
        @apply flex flex-col lg:flex lg:flex-row lg:justify-center;
    }
    .aboutBanner h2{
        @apply text-3xl font-bold pb-4;
    }
    .aboutBanner span{
        @apply font-normal;
    }
    .aboutBanner p{
        @apply text-[1.1rem] pb-6 max-w-[25rem] lg:max-w-[35rem]; 
    }
    /* MISSION, VISION, VALUES */
    .aboutCompany{
        @apply text-dark bg-white py-12;
    }
    .aboutCompany__goals{
        @apply grid grid-cols-1 lg:flex lg:flex-row lg:gap-8 lg:justify-center;
    }
    .aboutCompany h2{
        @apply text-3xl text-center font-bold;
    }
    .aboutCompany span{
        @apply font-normal;
    }
    .vision img{
        @apply w-[16rem] mx-auto pt-16 lg:mx-0;
    }
    .vision h3{
        @apply text-center text-dark text-[1.5rem] font-bold py-4 lg:text-left;
    }
    .vision p{
        @apply text-center text-dark text-[1.1rem] mb-2 lg:text-left lg:max-w-[20rem];
    }
    .mission{
        @apply lg:mt-[3.7rem];
    }
    .mission img{
        @apply w-[16rem] mx-auto lg:mx-0;
    }
    .mission h3{
        @apply text-center text-[1.5rem] font-bold py-4 lg:text-left;
    }
    .mission p{
        @apply text-center text-[1.1rem] mb-2 lg:text-left lg:max-w-[22rem];
    }
    .values{
        @apply lg:mt-24;
    }
    .values img{
        @apply w-[22rem] mx-auto lg:mx-0;
    }
    .values h3{
        @apply text-center text-[1.5rem] font-bold py-4 lg:py-0 lg:text-left lg:mb-3;
    }
    .values ul{
        @apply text-center text-[1.1rem] lg:text-left;
    }
    /* MEET OUR TEAM */
    .team{
        @apply bg-light text-dark pt-20 h-[460px] lg:pb-[37rem];
    }
    .team h2{
        @apply font-normal text-center text-3xl mb-10;
    }
    .team span{
        @apply font-bold;
    }
    .team p{
        @apply text-center text-[1.1rem];
    }
    .team p:nth-child(3){
        @apply lg:pb-14;
    }
    .team__imagem{
        @apply mt-10 lg:hidden;
    }
    .image__d{
        @apply hidden lg:flex lg:flex-row lg:relative;
    }
    .team__imaged{
        @apply hidden lg:flex grayscale-[100%] absolute;
    }
    .team__imaged:nth-child(1) .img__name{
        @apply mr-[65px];
    }
    .team__imaged:nth-child(2) .img__name{
        @apply ml-[44px];
    }
    .team__imaged:nth-child(3) .img__name{
        @apply mr-[14px];
    }
    .team__imaged:nth-child(4) .img__name{
        @apply ml-[18px];
    }
    .team__imaged:nth-child(5) .img__name{
        @apply mr-[4rem];
    }
    .team__imaged:nth-child(6) .img__name{
        @apply mr-[2rem];
    }
    .team__imaged .img__name{
        @apply opacity-0 translate-y-[.5rem];
    }
    .team__imaged:hover .img__name{
        @apply  opacity-100 translate-y-[-.3rem] transition duration-500;
    }
    .img__name p{
        @apply font-bold text-[1.1rem];
    }
    .team__imaged:nth-child(1){
        @apply z-30 translate-x-[13rem] translate-y-[-.4rem] hover:grayscale-0;
    }
    .team__imaged:nth-child(2){
        @apply z-20 translate-x-[19rem] translate-y-[-1rem] hover:grayscale-0;
    }
    .team__imaged:nth-child(3){
        @apply z-30 translate-x-[30rem] translate-y-[.4rem] hover:grayscale-0;
    }
    .team__imaged:nth-child(4){
        @apply z-40 translate-x-[36rem] translate-y-[1.3rem] hover:grayscale-0;
    }
    .team__imaged:nth-child(5){
        @apply z-30 translate-x-[44.4rem] translate-y-[-2rem] hover:grayscale-0;
    }
    .team__imaged:nth-child(6){
        @apply z-20 translate-x-[55rem] translate-y-[-1.6rem] hover:grayscale-0;
    }
    .team__imaged:nth-child(7){
        @apply z-30 translate-x-[62rem] translate-y-[-.1rem] hover:grayscale-0;
    }
    /* CTA */
    .cta{
        @apply bg-bpink text-light pt-16 z-[999];
    }
    .cta h2{
        @apply text-center text-4xl mb-6;
    }
    .cta__btn{
        @apply text-light text-center pb-16;
    }
    /* CLIENTS AND PARTNERS */
    .partners{
        @apply bg-white pt-16;
    }
    .partners h2{
        @apply text-center text-3xl pb-24;
    }
    .partners span{
        @apply font-bold;
    }
    .partners__img img{
        @apply mx-auto mb-20;
    }
    .partners__img:nth-child(7) img{
        @apply w-[16rem];
    }
    .partners__imgs{
        @apply grid grid-cols-1 lg:grid lg:grid-cols-3 lg:px-16;
    }

}

.tns-nav{
    @apply absolute z-[999] translate-y-[35rem] translate-x-[12rem] lg:translate-y-[5rem] lg:translate-x-[50rem];
}
.tns-nav button{
    @apply  my-[.5rem] w-[15px] h-[15px] translate-y-[30rem] border-r-[100%] border-none bg-dvred rounded-full mx-1;
}
button.tns-nav-active{
    @apply bg-vred;
}

@layer utilities{
    .btn{
        @apply inline-block py-[.5rem] px-[1rem] rounded-full border-transparent border-[1px];
    }
    .btn.bg--dvred{
        @apply bg-dvred text-light font-semibold hover:bg-light hover:text-dvred hover:border-dvred hover:font-normal transition-all;
    }
    .btn.bg--transparent{
        @apply bg-transparent border-dvred text-dvred border-[1px]  hover:bg-light transition-all;
    }
    .btn.bg--bpink{
        @apply bg-transparent border-light text-light hover:bg-light hover:text-bpink transition-all;
    }
}